<div class="container">
   <form id="select__ingredients">
      <div class="mb-2">
         <label class="d-flex justify-content-between mb-1">
            Donnons-lui un nom :
            <input required type="text" autocomplete="off" name="pizza__name" placeholder="..." class="ps-1 w-25">
         </label>
         <label class="d-flex justify-content-between">
            Et une taille :
            <select name="pizza__size" id="pizza__size">
               <% sizes.forEach(size => { %>
                  <option 
                     value="<%= size.size %>" 
                     data-coefficient="<%= size.coefficient %>"
                     <% if (size.coefficient === 1) { %>
                        selected
                     <% } %>
                  >
                     <%= size.size %>
                  </option>
               <% }) %>
            </select>
         </label>
      </div>
      <% for (let type in ingredients) { %>
         <div class="type__<%= type %> mb-3">
            <h1 class="h4"><%= type %></h1>
            <% ingredients[type].forEach(ingredient => { %>
               <label class="w-100 mb-1 d-flex justify-content-between" data-ingr-id="<%=ingredient.ingr_id %>" data-ingr-type="<%= ingredient.ingr_type %>">
                  <%= ingredient.ingr_name %>
                  <input style="width: 10%;" class="ps-1 ingr__quant" type="checkbox" name="<%= ingredient.ingr_id %>" id="value__<%= ingredient.ingr_id %>">
               </label>
            <% }) %>
         </div>
      <% } %>
      <button class="addToCart p-1 bg-primary btn btn-primary m-auto" role="button" type="submit">
         Ajouter (15.90 €)
      </button>
   </form>
   <script>
      window.custom = new PizzaCustomization();

      $("#select__ingredients").on("submit", function(e) {
         e.preventDefault();
         console.log(e);
         const data = $(this).serializeArray();
         const pizzaName = data.find(e => e.name === "pizza__name").value;
         const pizzaSize = data.find(e => e.name === "pizza__size").value;
         const ingredients = data.filter(e => e.value === 'on' && e.name.match(/\d+/gm));
         
         if (!pizzaName || !pizzaSize) {
            window.alert.show("Veuillez donnez un nom et une taille à votre pizza", AlertType.DANGER);
            return;
         }
         if (ingredients.length < 3) {
            window.alert.show("Selectionnez au moins 3 ingrédients !", AlertType.DANGER);
            return;
         }
         // TODO: Add pizza in product table
         fetch("/pizza/createCustom", {
            method: "POST",
            headers: {
               "Content-Type": "application/json"
            },
            body: JSON.stringify({
               name: pizzaName,
               price: custom.getBasePrice($(`#pizza__size option[value=${pizzaSize}]`)[0].dataset.coefficient) + custom.getIngrPrice(),
               size: pizzaSize,
               ingredients
            })
         })
            .then(res => res.json())
            .then(res => {
               console.log(res);
            })
            // TODO: Add pizza in cart
      });
      
      $("#pizza__size").on("change", function() {
         $(".addToCart").text(`Ajouter (${displayPrice(
            custom.getBasePrice(this.children[this.selectedIndex].dataset.coefficient)
            + custom.getIngrPrice()
         )})`);
      });
      // Handle ingredients quant change
      $(".ingr__quant").on("click", function () {
         if (this.checked) 
            custom.addIngredient(this.name);
         else 
            custom.deleteIngredient(this.name);
         const pizzaSize = $("#pizza__size")[0];
            const coefficient = pizzaSize.children[pizzaSize.selectedIndex].dataset.coefficient;
            $(".addToCart").text(`Ajouter (${displayPrice(
               custom.getBasePrice(coefficient)
               + custom.getIngrPrice()
            )})`);
      });
   </script>
</div>
